*{
  margin:0;
  padding:0;
}
.body{
  font-family:serif;
}
/* Navbar CSS */
.navbar{
  background-color:#0089B7;
  width:100%;
  height:70px;
  display:flex;
}
/* Navbar logo */
.navbar_logo h1{
  padding-left:150px;
  color:white;
  padding-top:10px;
}
/* Navbar link */
.navbar_link{
  margin-left:600px;
}
.navbar_link ul{
  display:flex;
}
.a_link{
  padding-top:17px;
}
.a_link a{
color:white;
padding-left:40px;
text-decoration:none;
font-weight: bold;
font-size:19px;
}
/* Navbar CSS */
/* Introduction CSS */
.introduction{
  display:flex;
  background-color:#003D62;
  width:100%;
  height:650px;
}
/* Introduction img  */
.introduction_img{
padding-left:100px;
padding-top:50px;
}
.introduction_img img{
  width:372px;
  height:529px;
  border-radius:680px;
}
/* Introduction text */
.introduction_text{
padding:120px;
}
.special_text{
  color:white;
  font-size:50px;
}
.not_special{
color:white;
font-size:20px;
}
/* Introduction CSS */
/* Projects CSS */
.projects{
 width:100%;
 height:150px;
 background-color:#003251; 
}
.projects h2{
  text-align:center;
  padding-top:70px;
  color:white;
  font-size:40px;
}
/* Projects CSS */
/* All project */
.all_project{
  display:grid;
grid-template-columns:1fr 1fr 1fr;
column-gap:0px;
row-gap:30px;
  width:100%;
background-color:#003251;
padding-top:70px;
padding-bottom:70px;
}
/* Project img */
.github_project{
  width:60%;
  padding-left:55px;
}
.github_project img{
width:300px;
height:300px;
border-radius:10px;
}
/* All project */
/* Social CSS */
.social_section{
  width:100%;
  height:350px;
  background-color:#003D62;
}
/* Work CSS */
.work{
  text-align:center;
    padding-top:70px;
}
.work h2{
  color:white;
  font-size:40px;
}
/* Social */
.social{
  text-align:center;
  padding-top:45px;
}
.social span{
  color:white;
  font-size:22px;
  padding-right:30px;
}
/* Tools css */
.tools{
  text-align:center;
  padding-top:25px;
}
.tools span{
  color:white;
  font-size:22px;
  padding-right:30px;
}
/* Social CSS */
/* Footer CSS */
.footer_section{
  background:#012941;
  width:100%;
  height:70px;
}
.footer_section h3{
  color:white;
    text-align:center;
    padding-top:25px;
    font-size:20px;
}
/* Footer CSS */
